<div id="modalEditEventFollow" class="modal">
  <div class="modal-content">
    <span class="close" id="closeEditEventFollow">&times;</span>
    <h2>Editar Seguimiento</h2>

    <form id="formEditEventFollow" class="admin-form">

      <input type="hidden" id="editFollowId" />

      <label for="editFollowUserId">Usuario:</label>
      <select id="editFollowUserId" required></select>

      <label for="editFollowEventId">Evento:</label>
      <select id="editFollowEventId" required></select>

      <button type="submit" class="admin-btn admin-btn-primary">
        Guardar Cambios
      </button>
    </form>
  </div>
</div>
