<div id="modalAddEventFollow" class="modal">
  <div class="modal-content">
    <span class="close" id="closeAddEventFollow">&times;</span>
    <h2>Añadir Seguimiento de Evento</h2>

    <form id="formAddEventFollow" class="admin-form">

      <label for="followUserId">Usuario:</label>
      <select id="followUserId" required></select>

      <label for="followEventId">Evento:</label>
      <select id="followEventId" required></select>

      <button type="submit" class="admin-btn admin-btn-primary">
        Guardar
      </button>

    </form>
  </div>
</div>
