<header>
    <div class="left">
        <div class="menu-container">
            <div class="menu" id="menu">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="brand">
            <img src="icons/udemy.svg" class="logo">
            <span class="name">Turismo</span>
        </div>
    </div>

    <div class="center">
        <div class="search-bar">
            <input id="searchInput" type="text" placeholder="Buscar destinos...">
            <button id="searchBtn">Buscar</button>
        </div>

        <div id="searchResults" class="search-results hidden"></div>
    </div>

    <!-- ÁREA DE AUTENTICACIÓN -->
    <div class="right" id="authArea">
        <!-- Aquí se insertará auth.html dinámicamente -->
        <button id="toggleDarkMode" class="darkmode-btn">🌙</button>
    </div>
</header>