<header>
    <div class="left">
        <div class="menu-container">
            <div class="menu" id="menu">
                <div></div><div></div><div></div>
            </div>
        </div>

        <div class="brand">
            <img src="icons/udemy.svg" class="logo">
            <span class="name">Turismo</span>
        </div>
    </div>

    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Buscar destinos...">
        <button id="searchButton">Buscar</button>
    </div>

    <div class="right" id="authArea">
        <!-- Área de autenticación se carga aquí dinámicamente -->
    </div>

</header>