<aside class="sidebar" id="sidebar">
  <nav>
    <ul>
      <li>
        <a href="index.html">
          <img src="icons/home.svg" alt="Inicio" />
          <span>Inicio</span>
        </a>
      </li>

      <li>
        <a href="categories.html">
          <img src="icons/menu_h.svg" alt="Categorías" />
          <span>Categorías</span>
        </a>
      </li>

      <li>
        <a href="favorites.html">
          <img src="icons/heart.svg" alt="Favoritos" />
          <span>Favoritos</span>
        </a>
      </li>

      <li>
        <a href="events.html">
          <img src="icons/notification.svg" alt="Eventos" />
          <span>Eventos</span>
        </a>
      </li>

      <li>
        <a href="newsletter.html">
          <img src="icons/chat.svg" alt="Noticias" />
          <span>Noticias</span>
        </a>
      </li>
    </ul>
  </nav>
</aside>