<aside class="sidebar" id="sidebar">
  <nav>
    <ul>
      <li>
        <a href="index.html">
          <img src="icons/home.svg" alt="Inicio" />
          <span>Inicio</span>
        </a>
      </li>

      <li>
        <a href="categories.html">
          <img src="icons/menu_h.svg" alt="Categorías" />
          <span>Categorías</span>
        </a>
      </li>

      <li>
        <a href="activity.html">
          <img src="icons/chat.svg" alt="Actividades" />
          <span>Actividades</span>
        </a>
      </li>

    </ul>
  </nav>
</aside>