<aside class="sidebar" id="sidebar">
    <nav>
        <ul>
            <li><a href="index.html"><img src="icons/home.svg"><span>Pagina de Inicio</span></a></li>
            <li><a href="beach.html"><img src="icons/playa.png"><span>Playa</span></a></li>
            <li><a href="mountain.html"><img src="icons/mountain.png"><span>Montañas</span></a></li>
            <li><a href="culture.html"><img src="icons/cultura.png"><span>Cultura</span></a></li>
            <li><a href="newsletter.html"><img src="icons/chat.svg"><span>Noticias</span></a></li>
        </ul>
    </nav>
</aside>
