<aside class="admin-sidebar" id="adminSidebar">
    <nav>
        <ul>

            <!-- Dashboard -->
            <li>
                <a href="#/dashboard" data-route="dashboard" class="admin-link">
                    <img src="../icons/home.svg" alt="Dashboard">
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Categories -->
            <li>
                <a href="#/categories" data-route="categories" class="admin-link">
                    <img src="../icons/tools.svg" alt="Categories">
                    <span>Categorías</span>
                </a>
            </li>

            <!-- Banners -->
            <li>
                <a href="#/banners" data-route="banners" class="admin-link">
                    <img src="../icons/banner.png" alt="Banners">
                    <span>Banners</span>
                </a>
            </li>

            <!-- Destinations -->
            <li>
                <a href="#/destinations" data-route="destinations" class="admin-link">
                    <img src="../icons/mountain.png" alt="Destinations">
                    <span>Destinos</span>
                </a>
            </li>

            <!-- Services -->
            <li>
                <a href="#/services" data-route="services" class="admin-link">
                    <img src="../icons/wallet.svg" alt="Services">
                    <span>Servicios</span>
                </a>
            </li>

            <!-- Events -->
            <li>
                <a href="#/events" data-route="events" class="admin-link">
                    <img src="../icons/megaphone.svg" alt="Events">
                    <span>Eventos</span>
                </a>
            </li>

            <!-- Users -->
            <li>
                <a href="#/users" data-route="users" class="admin-link">
                    <img src="../icons/file.svg" alt="Users">
                    <span>Usuarios</span>
                </a>
            </li>

            <!-- Favorites -->
            <li>
                <a href="#/favorites" data-route="favorites" class="admin-link">
                    <img src="../icons/chart.svg" alt="Favorites">
                    <span>Favoritos</span>
                </a>
            </li>

            <!-- Events Followed -->
            <li>
                <a href="#/events-followed" data-route="events-followed" class="admin-link">
                    <img src="../icons/notification.svg" alt="Events Followed">
                    <span>Eventos Seguidos</span>
                </a>
            </li>

            <!-- Gallery -->
            <li>
                <a href="#/gallery" data-route="gallery" class="admin-link">
                    <img src="../icons/wallet.svg" alt="Gallery">
                    <span>Galería de Destinos</span>
                </a>
            </li>


            <!-- Settings -->
            <!-- <li>
                <a href="#/settings" data-route="settings" class="admin-link">
                    <img src="../icons/tools.svg" alt="Settings">
                    <span>Configuración</span>
                </a>
            </li> -->

        </ul>
    </nav>
</aside>