<div class="admin-page">

    <!-- ENCABEZADO -->
    <div class="admin-page-header" style="display: flex; align-items: center; justify-content: space-between;">
        <h2>Eventos Seguidos</h2>
        <button id="btnAddEventFollow" class="admin-btn admin-btn-primary">+ Añadir Seguimiento</button>
    </div>

    <!-- FILTROS -->
    <div class="admin-filter-group">

        <div class="admin-filter-box">
            <label for="filterFollowUser">Filtrar por Usuario</label>
            <select id="filterFollowUser" class="admin-filter-input"></select>
        </div>

        <div class="admin-filter-box">
            <label for="filterFollowEvent">Filtrar por Evento</label>
            <select id="filterFollowEvent" class="admin-filter-input"></select>
        </div>

    </div>


    <!-- TABLA -->
    <table class="admin-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Email</th>
                <th>Evento</th>
                <th>Fecha evento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody id="eventsFollowedTableBody">
            <!-- Filas dinámicas -->
        </tbody>
    </table>

    <!-- CONTENEDOR PARA MODALES -->
    <div id="eventsFollowedModalContainer"></div>

</div>