<div class="admin-page">

  <div class="admin-page-header">
    <h2>Eventos Seguidos</h2>
    <button id="btnAddEventFollow" class="admin-btn admin-btn-primary">
      + Añadir Seguimiento
    </button>
  </div>

    <table class="admin-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Usuario</th>
          <th>Email</th>
          <th>Evento</th>
          <th>Fecha evento</th>
          <th>Acciones</th>
        </tr>
      </thead>

      <tbody id="eventsFollowedTableBody">
        <!-- Filas dinámicas -->
      </tbody>
    </table>

  <div id="eventsFollowedModalContainer"></div>

</div>
